summary.post-meta {
	margin-top:    calc(var(--p-margin));
	margin-bottom: calc(var(--p-margin));
}

summary.post-meta h1 {
	font-size: 1rem;
}

summary.post-meta p {
	margin-top:    0;
	margin-bottom: 0;
}
