<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- this should prevent mobile phones from randomly scaling everything -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/syntax_highlighting.css">
  </head>
  <body class="colem-10">
    <nav class="guttered">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
    <article class="post guttered">
      <h1>{{page.title}}</h1>
      <p class="post-meta">
        <time datetime="{{page.date}}">
          {{page.date | date: "%b %d, %Y"}}
        </time>
      </p>

      {{ page.content }}

    </article>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
