<!doctype html>
<html lang="en" class="guttered">
  <head>
    <meta charset="utf-8">
    <!-- this should prevent mobile phones from randomly scaling everything -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/syntax_highlighting.css">
  </head>

  <body class="colem-5">
    <nav class="float-right clear-a-line leave-a-line">
      <a href="/">Home</a>
      <span class="quartergutter"> </span>
      <a href="/blog">Blog</a>
      <span class="quartergutter"> </span>
      <a href="/about">About</a>
    </nav>

    <section class="colem-5" id="content">
      <article class="post">
        <h1>{{page.title}}</h1>
        <p class="post-meta">
          <time datetime="{{page.date}}">
            {{page.date | date: "%b %d, %Y"}}
          </time>
        </p>

        {{ page.content }}
      </article>
    </section>

    {% if page.categories.first == "projects" %}
    {% assign project_name = page.categories.last %}
    <section class="colem-5" id="related-projects">
      Related project:

      {% for page in site.pages %}
      {% if page.path contains project_name %}
      {% assign project = page %}
      {% endif %}
      {% endfor %}

      <a class="nav" href="{{project.url}}">{{ project.title }}</a>
    </section>
    {% endif %}

    <section>
      <footer>
        &copy; {{ page.author }}
      </footer>
    </section>
  </body>
</html>
