<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/syntax_highlighting.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>

  <body class="colem-5 guttered">
    <nav class="flow-right">
      <a href="/">Home</a>
      <span class="quartergutter"> </span>
      <a href="/blog">Blog</a>
    </nav>

    <section class="post">
      <div class="tweet">
        {{ page.content }}
      </div>

      <time class="post-meta" datetime="{{page.date}}">
        {{page.date | date: "%b %d, %Y"}}
      </time>
    </section>

    <section>
      <footer>
        &copy; to me
      </footer>
    </section>
  </body>
</html>

